*{
    text-align: center;
    font-family: 'Open Sans',sans-serif;
}

#connectionLabel{
    font-size: 23px;
    margin-bottom: 10px;
}

.section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.sectionText{
    font-size: 20px;
    width: 100px;
    text-align: center;
}

.sectionInput{
    font-size: 16px;
    height: 40px;
    border: solid rgb(0, 0, 0) 1.5px;
    outline: solid rgb(0, 0, 0) 1.5px;
}

.dbButton{
    font-size: 17.5px;
    width: 175px;
    height: 30px;
    border: solid rgb(0, 0, 0) 2px;
    border-radius: 10px;
}

#setButton{
    margin-right: 15px;
}